/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */

/* =============================================================================
   HTML5 Boilerplate
   ========================================================================== */
@media print {
  /* line 11, ../_sass/print.scss */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: h5bp.com/s */
  /* line 12, ../_sass/print.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 13, ../_sass/print.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 14, ../_sass/print.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 15, ../_sass/print.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 16, ../_sass/print.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 17, ../_sass/print.scss */
  thead {
    display: table-header-group;
  }

  /* h5bp.com/t */
  /* line 18, ../_sass/print.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 19, ../_sass/print.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 21, ../_sass/print.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 22, ../_sass/print.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
