/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../.gem/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.gem/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.gem/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.gem/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.gem/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.gem/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.gem/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.gem/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.gem/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */
/* line 13, ../_sass/screen.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 14, ../_sass/screen.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 15, ../_sass/screen.scss */
audio:not([controls]) {
  display: none;
}

/* line 16, ../_sass/screen.scss */
[hidden] {
  display: none;
}

/* line 18, ../_sass/screen.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 19, ../_sass/screen.scss */
html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

/* line 20, ../_sass/screen.scss */
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

/* line 22, ../_sass/screen.scss */
::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

/* line 23, ../_sass/screen.scss */
::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

/* line 25, ../_sass/screen.scss */
a {
  color: #00e;
}

/* line 26, ../_sass/screen.scss */
a:visited {
  color: #551a8b;
}

/* line 27, ../_sass/screen.scss */
a:hover {
  color: #06e;
}

/* line 28, ../_sass/screen.scss */
a:focus {
  outline: thin dotted;
}

/* line 29, ../_sass/screen.scss */
a:hover, a:active {
  outline: 0;
}

/* line 31, ../_sass/screen.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 32, ../_sass/screen.scss */
b, strong {
  font-weight: bold;
}

/* line 33, ../_sass/screen.scss */
blockquote {
  margin: 1em 40px;
}

/* line 34, ../_sass/screen.scss */
dfn {
  font-style: italic;
}

/* line 35, ../_sass/screen.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 36, ../_sass/screen.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 37, ../_sass/screen.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 38, ../_sass/screen.scss */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* line 39, ../_sass/screen.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 40, ../_sass/screen.scss */
q {
  quotes: none;
}

/* line 41, ../_sass/screen.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 42, ../_sass/screen.scss */
small {
  font-size: 85%;
}

/* line 44, ../_sass/screen.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 45, ../_sass/screen.scss */
sup {
  top: -0.5em;
}

/* line 46, ../_sass/screen.scss */
sub {
  bottom: -0.25em;
}

/* line 48, ../_sass/screen.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 49, ../_sass/screen.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 50, ../_sass/screen.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* line 52, ../_sass/screen.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/* line 54, ../_sass/screen.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 56, ../_sass/screen.scss */
figure {
  margin: 0;
}

/* line 58, ../_sass/screen.scss */
form {
  margin: 0;
}

/* line 59, ../_sass/screen.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 60, ../_sass/screen.scss */
label {
  cursor: pointer;
}

/* line 61, ../_sass/screen.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

/* line 62, ../_sass/screen.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 63, ../_sass/screen.scss */
button, input {
  line-height: normal;
}

/* line 64, ../_sass/screen.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/* line 65, ../_sass/screen.scss */
button[disabled], input[disabled] {
  cursor: default;
}

/* line 66, ../_sass/screen.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

/* line 67, ../_sass/screen.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 68, ../_sass/screen.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 69, ../_sass/screen.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 70, ../_sass/screen.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* line 72, ../_sass/screen.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* line 74, ../_sass/screen.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 75, ../_sass/screen.scss */
td {
  vertical-align: top;
}

/* line 77, ../_sass/screen.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0;
}

/* =============================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */
/* line 91, ../_sass/screen.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}

/* line 92, ../_sass/screen.scss */
.ir br {
  display: none;
}

/* line 93, ../_sass/screen.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 94, ../_sass/screen.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 95, ../_sass/screen.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 96, ../_sass/screen.scss */
.invisible {
  visibility: hidden;
}

/* line 97, ../_sass/screen.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 98, ../_sass/screen.scss */
.clearfix:after {
  clear: both;
}

/* line 99, ../_sass/screen.scss */
.clearfix {
  *zoom: 1;
}

/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* =============================================================================
   HTML5 Boilerplate
   ========================================================================== */
@media print {
  /* line 11, ../_sass/print.scss */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: h5bp.com/s */
  /* line 12, ../_sass/print.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 13, ../_sass/print.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 14, ../_sass/print.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 15, ../_sass/print.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 16, ../_sass/print.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 17, ../_sass/print.scss */
  thead {
    display: table-header-group;
  }

  /* h5bp.com/t */
  /* line 18, ../_sass/print.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 19, ../_sass/print.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 21, ../_sass/print.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 22, ../_sass/print.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
/* line 1, ../_sass/grater.scss */
div.grater-container {
  width: 640px;
  margin: 0 auto;
}

@media all and (max-width: 660px) {
  /* line 1, ../_sass/grater.scss */
  div.grater-container {
    width: 300px;
  }
}
/* line 1, ../_sass/grater.scss */
div.grater {
  zoom: 1;
}

/* line 1, ../_sass/grater.scss */
div.grater > div {
  width: 300px;
  margin: 0 0 2em;
}

/* line 1, ../_sass/grater.scss */
div.grater > div:first-child {
  float: left;
}

/* line 1, ../_sass/grater.scss */
div.grater > div:last-child {
  float: right;
}

/* line 1, ../_sass/grater.scss */
div.grater.reverse > div:first-child {
  float: right;
}

/* line 1, ../_sass/grater.scss */
div.grater.reverse > div:last-child {
  float: left;
}

/* line 1, ../_sass/grater.scss */
div.grater:before, div.grater:after {
  content: "";
  display: table;
}

/* line 1, ../_sass/grater.scss */
div.grater:after {
  clear: both;
}

@media all and (max-width: 660px) {
  /* line 1, ../_sass/grater.scss */
  div.grater {
    margin-bottom: 1em;
  }

  /* line 1, ../_sass/grater.scss */
  div.grater > div {
    float: none !important;
    margin: 0 auto 2em;
  }
}
@font-face {
  font-family: 'VagRounded';
  src: url("fonts/vaground-webfont.eot");
  src: url("fonts/vaground-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/vaground-webfont.woff") format("woff"), url("fonts/vaground-webfont.ttf") format("truetype"), url("fonts/vaground-webfont.svg#WebfontRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 24, ../_sass/style.scss */
img.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 30, ../_sass/style.scss */
.strapline {
  text-align: center;
}

/* line 34, ../_sass/style.scss */
.section {
  border-bottom: 1px solid #ddd;
  margin-bottom: 1em;
  margin-top: 1em;
}

/* line 40, ../_sass/style.scss */
h1 {
  color: #268bd2;
  font-family: "VagRounded";
}

/* line 44, ../_sass/style.scss */
p {
  font-size: 12px;
}

/* line 47, ../_sass/style.scss */
strong {
  color: #268bd2;
  font-family: "VagRounded";
  font-weight: 400;
}

/* line 53, ../_sass/style.scss */
header {
  margin-top: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid #ddd;
}
/* line 57, ../_sass/style.scss */
header h1 {
  font-family: 'VagRounded';
  font-size: 16px;
  float: left;
}
/* line 61, ../_sass/style.scss */
header h1 a {
  color: #000;
  text-decoration: none;
}
/* line 64, ../_sass/style.scss */
header h1 a:visited {
  color: #000;
}
/* line 67, ../_sass/style.scss */
header h1 a:hover {
  color: #000;
}
/* line 73, ../_sass/style.scss */
header ul.nav {
  margin-top: 2px;
  margin-bottom: 0;
  float: right;
}
/* line 77, ../_sass/style.scss */
header ul.nav li {
  display: inline;
  padding-left: 20px;
}
/* line 81, ../_sass/style.scss */
header ul.nav a {
  color: #666;
  font-size: 12px;
  text-decoration: none;
}
/* line 85, ../_sass/style.scss */
header ul.nav a:hover {
  color: #999;
}

/* line 92, ../_sass/style.scss */
footer {
  border-top: 1px solid #ddd;
  font-size: 10px;
  color: #999;
  text-align: center;
}
