---
layout: default
title: Maid-it! - Domestic Services and Property Management
---

%img.logo(src="img/logo.png" width=400 height=258)
.strapline
  %h1 Domestic Serivces and Property Management
.section.grater#about
  .left
    %p Whether it's an office, a bar, a residence, a holiday home, or a caravan, our uniformed, friendly, and trustworthy staff can get it clean. We do daily, weekly, or monthly cleans, as well as one-offs: spring cleans, moving-in and moving-out, special event cleaning (pre- and post-event), and ironing. We provide all cleaning supplies and equipment.
  .right
    %p Got a holiday home? Maid-it have a team of professionals with over 10 years' experience to care for and maintain your property when you can't be there.
    %strong Maid-it: we're there when you can't be!
.grater#contact
  .left
    %h1 Terms
    %p Minimum 2 hours.
    %p Maid-it is situated in Castle Douglas
  .right
    %h1 Contact
    %p
      %strong Phone:
      07870 820876
    %p
      %strong Email:
      info@maid-it.co.uk
